    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<form method="get">
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3">more</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><a href="/destroy_post/<%= post.id %>" onclick="return confirm('Are you sure?')">destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="submit" formaction="posts/new", class="btn btn-primary">Add New Post</button> || <button type="submit" formaction="welcome", class="btn btn-warning">Back</button> 
</form>

